<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> QUIZ </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (min-width: 800px) and (min-device-width: 600px)' href='/stylesheets/wide.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
  </head>
  <body>
    <div id="page">
      <header class="main">

        <div class="right">
          <% if(!session.user){%>
            <a href="/users/new">Registrarse</a>
            <a href="/session">Login</a>
          <%} else{%>
            <label><%=session.user.username%> <%=session.user.isAdmin ? "(ADMIN)" : "" %></label><a href="/users/<%=session.user.id%>">Perfil</a>
            <a href="/session?_method=DELETE">Logout</a>
          <%}%>
        </div>
        
        <h2>Quiz<span class="no-narrow">: el juego de las preguntas</span></h2>
      </header>

      <nav class="main" role="navigation">
        <a href="/">Inicio</a>
        <a href="/quizzes">Preguntas</a>
        <a href="/users">Usuarios</a>
        <a href="/author">Créditos</a>
      </nav>

      <div class="right">
        <form method="get" action="/quizzes"><!--/find-->
          <input type="text" name="search" value="" placeholder="Busca quiz"/>
          <input type="submit" value="Buscar">
        </form>
      </div>

      <section>
        <% if(messages.info){%>
          <article id="flashinfo">
            <h3>Información de interés:</h3>
            <ul>
              <% for(var i in messages.info){%>
                <li><%=messages.info[i]%></li>
              <%}%>
            </ul>
          </article>
        <%}%>

        <% if(messages.success){%>
          <article id="flashsuccess">
            <h3>Tareas completadas con éxito:</h3>
            <ul>
              <% for(var i in messages.success){%>
                <li> <%= messages.success[i]%></li>
              <%}%>
            </ul>
          </article>
        <%}%>

        <% if(messages.error){%>
          <article id="flasherror">
            <h3>Errores encontrados:</h3>
            <ul>
              <% for(var i in messages.error){%>
                <li><%=messages.error[i]%></li>
              <%}%>
            </ul>
          </article>
        <%}%>
      </section>

      <section class="main">
        <div><%- body %></div>
      </section>

      <footer class="main">
        <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
        <a href="https://github.com/vquilon/core_quiz">Repositorio GitHub</a>
      </footer>
    </div>
  </body>
</html>